# Demand and Supply Data
As demand and supply data is only available on the province level from May 2020 to July 2020, we will be using proportions and averages to estimate the demand and supply for each province for the period of Dec 2019 to Dec 2023. <br>

`Assumptions made`: 
- average proportion for the individual province between May 2020 and July 2020 is constant for the period of Dec 2019 to Dec 2023. <br>
- we will be following the supply and demand values in the bigger dataset. <br>

In [2]:
# libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# supply and demand for May to June 2020
dfMay = pd.read_csv('/workspaces/forecasting/data/SSandDDMay.csv')
dfMay.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,Supply,Demand,Balance Sheet,NaN
1,NaN,Produksi Setara (Kg),Kebutuhan Setara (Kg),PRODUKSI DAN KEBUTUHAN DOC AYAM RAS MENURUT PR...,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,"12,429,730","7,471,622",Tahun,Bulan,Provinsi,Produksi (Ekor),Kebutuhan (Ekor),Neraca (Ekor),Prosentase Neraca (%)
3,NaN,"6,935,135","2,974,324",2020,MAY,RIAU,"6,541,963","3,932,432","2,609,531",66.36%
4,NaN,"74,451,351","53,086,486",2020,MAY,KEPULAUAN RIAU,"3,650,071","1,565,434","2,084,637",133.17%

In [4]:
# dropping the first 3 columns and last 2 columns
dfMay = dfMay.drop(dfMay.columns[[0, 1, 2, 8, 9]], axis=1)

# renaming the columns to the values in the second row
dfMay.columns = dfMay.iloc[2]
dfMay = dfMay[3:]
dfMay

2   Tahun Bulan           Provinsi Produksi (Ekor) Kebutuhan (Ekor)
3    2020   MAY               RIAU       6,541,963        3,932,432
4    2020   MAY     KEPULAUAN RIAU       3,650,071        1,565,434
5    2020   MAY         JAWA BARAT      39,184,922       27,940,256
6    2020   MAY        JAWA TENGAH      34,894,026       17,216,927
7    2020   MAY             BANTEN       9,856,330        7,227,596
..    ...   ...                ...             ...              ...
100  2020  JULY          GORONTALO          93,883          263,158
101  2020  JULY  SULAWESI TENGGARA          95,306          433,855
102  2020  JULY        DKI JAKARTA       1,613,087        9,384,068
103  2020  JULY             MALUKU          61,166          366,287
104  2020  JULY       MALUKU UTARA           1,422          197,724

[102 rows x 5 columns]

In [5]:
# changing column types to integer

# removing commas from the numbers
dfMay['Produksi (Ekor)'] = dfMay['Produksi (Ekor)'].str.replace(',', '')
dfMay['Produksi (Ekor)'] = dfMay['Produksi (Ekor)'].astype(int)

dfMay['Kebutuhan (Ekor)'] = dfMay['Kebutuhan (Ekor)'].str.replace(',', '')
dfMay['Kebutuhan (Ekor)'] = dfMay['Kebutuhan (Ekor)'].astype(int)
dfMay['Tahun'] = dfMay['Tahun'].astype(int)

dfMay.dtypes

2
Tahun                int64
Bulan               object
Provinsi            object
Produksi (Ekor)      int64
Kebutuhan (Ekor)     int64
dtype: object

Translation
Produksi (Ekor): Supply <br>
Kebutuhan (Ekor): Demand <br>

In [6]:
# supply and demand from 2020 to 2023
df = pd.read_csv('/workspaces/forecasting/data/SSandDD.csv')
df.head()

# removing commas from the numbers
df['Supply DOC (Tails)'] = df['Supply DOC (Tails)'].str.replace(',', '')
df['Demand DOC (Tails)'] = df['Demand DOC (Tails)'].str.replace(',', '')

# changing column types to integer
df['Supply DOC (Tails)'] = df['Supply DOC (Tails)'].astype(int)
df['Demand DOC (Tails)'] = df['Demand DOC (Tails)'].astype(int)

In [7]:
df

       Month  Supply DOC (Tails)  Demand DOC (Tails)
0   Dec 2019           263430325           257828626
1   Jan 2020           238373533           257828626
2   Feb 2020           228326148           165010611
3   Mar 2020           259647972           168750794
4   Apr 2020           202510340           176880521
5   May 2020           300502368           165010611
6   Jun 2020           291287233           166021839
7   Jul 2020           308579059           165010611
8   Aug 2020           301718772           165010611
9   Sep 2020           275960145           165010611
10  Oct 2020           282928094           257828626
11  Nov 2020           281620774           260074187
12  Dec 2020           244861351           244176598
13  Jan 2021           235058267           220546516
14  Feb 2021           241768551           244176598
15  Mar 2021           251221822           241729698
16  Apr 2021           271046686           261411003
17  May 2021           298277985           236299904
18  Jun 2021           231304347           159669197
19  Jul 2021           227961570           224642470
20  Aug 2021           290427996           200854918
21  Sep 2021           263906653           244176598
22  Oct 2021           281549693           236299904
23  Nov 2021           277480044           246262538
24  Dec 2021           202413009           202394287
25  Jan 2022           253927622           201638144
26  Feb 2022           329301093           239193248
27  Mar 2022           358307764           318048165
28  Apr 2022           347544676           252335734
29  May 2022           316798391           216040868
30  Jun 2022           282939325           239352375
31  Jul 2022           297414758           223242230
32  Aug 2022           301637524           216040868
33  Sep 2022           281213499           223242230
34  Oct 2022           293858192           216040868
35  Nov 2022           283150026           246135593
36  Jan 2023           234403983           209952347
37  Feb 2023           225044808           189634424
38  Mar 2023           210667852           214558321
39  Apr 2023           247791607           218283073
40  May 2023           242602418           209952347
41  Jun 2023           248980797           204466572
42  Jul 2023           243333570           209952347
43  Aug 2023           244293030           209952347
44  Sep 2023           254445235           203179943
45  Oct 2023           230532717           209952347
46  Nov 2023           245974395           203179943
47  Dec 2023           250132290           211780939

# EDA 
to find out the distribution of SS and DD for the province every month

In [8]:
# finding the total supply and demand
totalMonthlySupplyDemand = dfMay.groupby('Bulan').agg({
    'Produksi (Ekor)': 'sum',
    'Kebutuhan (Ekor)': 'sum'
}).reset_index()

# merging gthe total back into the original dataframe
dfMay = dfMay.merge(totalMonthlySupplyDemand, on='Bulan', suffixes=('', '_total'))

# calculating the percentage of supply and demand for each province relative to the month
dfMay['Supply Percentage'] = dfMay['Produksi (Ekor)'] / dfMay['Produksi (Ekor)_total']
dfMay['Demand Percentage'] = dfMay['Kebutuhan (Ekor)'] / dfMay['Kebutuhan (Ekor)_total']

dfMay

2,Tahun,Bulan,Provinsi,Produksi (Ekor),Kebutuhan (Ekor),Produksi (Ekor)_total,Kebutuhan (Ekor)_total,Supply Percentage,Demand Percentage
0,2020,MAY,RIAU,6541963,3932432,158812234,138714082,0.041193,0.028349
1,2020,MAY,KEPULAUAN RIAU,3650071,1565434,158812234,138714082,0.022984,0.011285
2,2020,MAY,JAWA BARAT,39184922,27940256,158812234,138714082,0.246737,0.201423
3,2020,MAY,JAWA TENGAH,34894026,17216927,158812234,138714082,0.219719,0.124118
4,2020,MAY,BANTEN,9856330,7227596,158812234,138714082,0.062063,0.052104
...,...,...,...,...,...,...,...,...,...
97,2020,JULY,GORONTALO,93883,263158,228433852,130197722,0.000411,0.002021
98,2020,JULY,SULAWESI TENGGARA,95306,433855,228433852,130197722,0.000417,0.003332
99,2020,JULY,DKI JAKARTA,1613087,9384068,228433852,130197722,0.007062,0.072076
100,2020,JULY,MALUKU,61166,366287,228433852,130197722,0.000268,0.002813
101,2020,JULY,MALUKU UTARA,1422,197724,228433852,130197722,0.000006,0.001519

In [15]:
dfPercent = dfMay.groupby('Provinsi').agg({
    'Supply Percentage': 'mean',
    'Demand Percentage': 'mean'
}).reset_index()

breakdown = []

# making the new dataset
for index, national_row in df.iterrows():
    for _, percent_row in dfPercent.iterrows():
        supply_province = percent_row['Supply Percentage'] * national_row['Supply DOC (Tails)']
        demand_province = percent_row['Demand Percentage'] * national_row['Demand DOC (Tails)']
        breakdown.append({
            'Month_Year': national_row['Month'],
            'Province': percent_row['Provinsi'],
            'SupplyProvince': supply_province,
            'DemandProvince': demand_province
        })     
    
# Convert breakdown list to DataFrame
detailed_breakdown_df = pd.DataFrame(breakdown)

# changing the supply and demand province to integer
detailed_breakdown_df['SupplyProvince'] = detailed_breakdown_df['SupplyProvince'].astype(int)
detailed_breakdown_df['DemandProvince'] = detailed_breakdown_df['DemandProvince'].astype(int)

# Display the head of the new detailed DataFrame
detailed_breakdown_df

     Month_Year           Province  SupplyProvince  DemandProvince
0      Dec 2019               ACEH         2687246         3930723
1      Dec 2019               BALI         5120529         5141045
2      Dec 2019             BANTEN        16349469        13433846
3      Dec 2019           BENGKULU          554903         1339242
4      Dec 2019      DI YOGYAKARTA         4206148         6313628
...         ...                ...             ...             ...
1723   Dec 2023  SULAWESI TENGGARA          104238          705272
1724   Dec 2023     SULAWESI UTARA          396941         1307670
1725   Dec 2023     SUMATERA BARAT         3689089         4922821
1726   Dec 2023   SUMATERA SELATAN         5467836         5767260
1727   Dec 2023     SUMATERA UTARA         9840988         9231167

[1728 rows x 4 columns]

In [17]:
detailed_breakdown_df.to_csv('/workspaces/forecasting/data/provinceDD&SS.csv', index=False)